= form_for @timelog do |f|
  - if @timelog.errors.any?
    #error_explanation
      %h2= "#{pluralize(@timelog.errors.count, "error")} prohibited this timelog from being saved:"
      %ul
        - @timelog.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
